<h1>List of tasks</h1>
<h2><%= link_to "Add task", new_task_path %></h2>

<ul>
<% @tasks.each do |task| %>
  <li>
    <p><%= link_to task.name, task_path(task) %> : <%= task.status ? "Done :)" : "TBD" %>
    </p>
</li>

<% end %>
</ul>

